<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link type="text/css" rel="stylesheet" href="../css/gptTest.css">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../icons/favicon.ico">
	<title>{{.test_id}} performance report</title>
</head>
<body>
    <table class="header" cellspacing="0">
    <tr>
    <td class="title">{{.test_id}} performance summary</td><td class="homeicon"><a href="http://step.esa.int/main/toolboxes/snap/"><img width="64" height="64" alt="SNAP" title="SNAP" src="../icons/SNAP_Icon_60.png"></a></td>
    </tr>
    </table>
    <div class="gptsummary">
	<h2>Summary</h2>
    	<table class="summary"><tbody>
    		{{foreach .row in .summary}}
    			<tr><td><b>{{.row.label}}</b></td><td>{{.row.value}} {{.row.unit}}</td></tr>
    		{{end}}
    	</tbody></table>
    </div>
	<div class="plots">
		<h2>Plots</h2>
		{{foreach .plot in .plots}}
			<img src="../perfs/plot/{{.plot}}">
		{{end}}
	</div>
</body>
</html>